body{
  background-color: black;
  color: white;
}
.block{
  display:flex;
}
.movie-app{
  overflow-x: auto;
  flex-wrap: nowrap;
}
.image-container{
  position: relative;
  transition: transform 0.2;
}
.image-container :hover{
  cursor: pointer;
  transform: scale(1);
}
.image-container:hover .overlay{
  opacity: 1;
}

.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.653);
  width: 100%;
  opacity: 0;
  bottom: 0;
  margin: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}